* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	background-color: rgb(71, 71, 71);
	color: white;
	margin: 30px;
}
.title {
	font-size: 20px;
	font-weight: 700;
	transition: color 0.3s;
}

.title:hover {
	color: aqua;
	cursor: pointer;
}
li:nth-child(even) {
	color: aqua;
}
span:first-of-type {
	color: aqua;
}
.test p:first-child {
	color: aqua;
}
.test p:last-child {
	color: aqua;
}
